<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="150" data-aos-duration="1500">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p align="justify">I like to <em>discover</em> or try new things. I am a <b>respectful</b> person and I like the respect offered to
                                be mutual. I am also <b>ambitious</b> and when I set a goal, I do not give up until I make
                                it. Not to mention, I am very attentive to <b><em>details</em></b>.</p>
                                <p>
                                In my free time I like to produce electronic music, travel, go out with my friends and play
                                all kinds of sports.</p>
                            <p align="justify">At the moment I am studying Economic Informatics and my plans are to develop my career
                                in a creative and hard-working team for different software projects. I always loved IT&C and now I can expand my knowledge and become a better software
                                engineer.</p>
                            <p align="justify">To learn more about me, keep exploring my site or reach out directly.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div> 
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Location:</strong>
                            </div>
                            <div class="col-sm-8">Bucharest, Romania</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">
                                <ul class="languages">
                                    <li>English (B2)</li>
                                    <li>German (A2)</li>
                                </ul>                                
                            </div>
                        </div>
                        <div class="row pb-3 pb-md-1">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8 mb-3">5th June, 2000</div>
                        </div>
                     </div>
                </div>    
            </div>
        </div>
    </div>
</div>


