<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header mt-4 course">
                            <p>2019-2022</p>
                        <div class="h5 mt-2 course">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Economic Informatics</div>
                                <h4 class="category">Cybernetics, Statistics and Informatics, ASE</h4>
                                <ul>
                                    <li>Algorithms and Data Structures</li>
                                    <li>Object Oriented Programming</li>
                                    <li>Data Bases</li>
                                    <li>Operating Systems</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header mt-3 course">
                            <p>2018-2019</p>
                        <div class="h5 mt-2 course">Course</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Database Design and Programming with SQL</div>
                            <h4 class="category">Oracle Academy</h4>
                            <ul> 
                                <li>Completed the <b>course</b> and aquired the Certificate of Professional Competences in the field of Informatics.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header mt-3 course">
                            <p>2020</p>
                        <div class="h5 mt-2 course">Course</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">HTML, CSS, and Javascript for Web Developers on <a href="https://www.coursera.org/learn/html-css-javascript-for-web-developers" target="_blank" style="color:black"><i>Coursera</i></a></div>
                            <h4 class="category">Johns Hopkins University</h4>
                            <ul> 
                                <li>Basics of HTML, CSS & JS</li>
                                <li>Bootstrap, jQuery and other libraries</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               
